@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 80vh;
  margin-bottom: 20%;
  width:100%;
  font-family: 'Architects Daughter', cursive;
  background-image: linear-gradient(120deg,#f6d365 0%, #fda085 100%);
  transition: all 0.3s ease;
    
}
header {
  font-size: 1.8rem;
  color:rgb(175, 105, 31);
  font-family: 'Amatic SC', cursive;
  transition: all 0.3s ease;
}

header,
form {
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items:center;
  
}
form input{
  height: 2.4rem;
  outline: none;
  border: none;
  margin-right: 0.3rem;
  min-width: 22rem;
  border-radius: 0.4rem;
  padding-left: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: dimgrey;
}
form button{

  border:none;
  outline:none;
  appearance:none;
  background: #fab677;

}


form button i{

  width:100%;
  height:100%;
  font-size:2.3rem;
  
  transition: all 1s ease;
   margin-right: 0.9rem;
      color: #e2831e;

}
form button i:active{
  color: orangered;
 
  transition: all 0.01s ease;

}
.todo-container{
  display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.9s ease;

}
.todo-list{
  transition: all 0.3s ease;
}
.todo{
  margin-top: 0.8rem;

      display: flex;


      align-items: center;
      justify-content: center;
      min-height: 100%;
      transition: all 0.4s ease;

}
.todo li{
      flex: 1;
      list-style: none;
width: 22rem;
background: #f6d366;

word-wrap: break-word;
    padding-left: 0.7rem;
    color: #332f2d;
    font-size: 1.1rem;
    border: 2px solid #f7cf68;
    margin-right: 0.7rem;
    transition: all 0.3s ease;

border-radius: 0.4rem;
}
.todo button{
  height: 100%;
    width: 2rem;
    border: 1px solid #ec8253;
    font-size: 1.3rem;
    background: #dab88e;
    border-radius: 0.4rem;
    color: #503024;
    margin-right: 0.2rem;
    outline: none;
    transition: all 1s ease;
    pointer-events:fill;

}
.todo button:active{

  color: whitesmoke;
  transition: all 0.01s ease;
  background: orangered;


}
.fall{
  transform-origin: left;
  transform: rotate(91deg);
  opacity: 0;
  transition: all 1s ease;
}
.todo.completed li{
  text-decoration: line-through;
  transition: all 0.3s ease;

    opacity: 0.5;
    background: #f1ba1d;
}
.select{
  outline: none;
      border:none;
      appearance: none;
      height: 100%;
      padding: 0.4rem;
      border-radius: 0.4rem;
      font-size: 1rem;
      min-width: 6rem;
      font-family:'Times New Roman', Times, serif;
      color: #0f0b0b;
      font-weight: lighter;
      transition: all 0.3s ease;
      background: #e68b2a;
    

}


.fa-trash,
.fa-check,.fa-edit {
  pointer-events: none;
}

@media (max-width:540px){
  body{
    padding:0 1.6rem;

  }
  form input{
  min-width:50%;
  }
  .todo li{
    flex: 1;
    list-style: none;
max-width: 15rem;
background: #f6d366;
height: 100%;
  padding-left: 0.7rem;
  color: #332f2d;
  font-size: 1.1rem;
  border: 2px solid #f7cf68;
  margin-right: 0.7rem;
  transition: all 0.3s ease;
border-radius: 0.4rem;
}
  }